.form {
    width: 400px;
    margin: auto;
  }
  *{
    background: #a3a39d;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
input[name="product_name"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[name="image"] {
    background-color: #000000;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
input[name="text1"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[name="text2"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[name="description"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[name="submit"] {
    background-color: #d3671a;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }